@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.woff?898kpq") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e986";
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Inherit fonts for inputs and buttons */
input,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --min-content: 320px;
  --max-content: 1000px;
  --pad: 30px;
  --ff-prim: Montserrat, sans-serif;
  --fz-xs: 16px;
  --fz-s: 18px;
  --fz-m: 24px;
  --fz-l: 32px;
  --fz-xl: 48px;
  --fz-xxl: 64px;
  --fw-n: 400;
  --fw-m: 500;
  --fw-sb: 600;
  --fw-b: 700;
  --lh-n: 1.5;
  --clr-text: #000;
  --clr-blue: #3498DB;
  --clr-red: #E74C3C;
  --clr-white: #fff;
  --clr-gray-100: #F2F3F4;
  --clr-gray-300: #D7DBDD;
  --clr-gray-900: #1B2631;
  --clr-gray: #D7DBDD;
  --tr: .3s ease-in-out;
}

html, body {
  block-size: 100%;
}

body {
  display: grid;
  place-items: center;
  color: var(--clr-text);
  background-color: var(--clr-blue);
  font-family: var(--ff-prim);
  font-size: var(--fz-0);
  font-weight: var(--fw-n);
  line-height: var(--lh-n);
}

.form-group {
  overflow: hidden;
  display: flex;
  align-items: center;
  block-size: 50px;
  background-color: var(--clr-gray-100);
  border-radius: 6px;
}

.input {
  display: block;
  inline-size: 0;
  block-size: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  opacity: 0;
  transition: inline-size var(--tr), opacity var(--tr), -webkit-padding-start var(--tr);
  transition: inline-size var(--tr), padding-inline-start var(--tr), opacity var(--tr);
  transition: inline-size var(--tr), padding-inline-start var(--tr), opacity var(--tr), -webkit-padding-start var(--tr);
}

.input:focus-visible {
  outline: none;
}

.input.show {
  inline-size: 300px;
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
  opacity: 1;
}

.btn {
  aspect-ratio: 1/1;
  inline-size: auto;
  block-size: 100%;
  font-size: var(--fz-m);
}/*# sourceMappingURL=main.css.map */