html,body{
	overflow-x: hidden;
	block-size: 100%;
}
body{	
	display: grid;
	place-items: center;	
	padding: 30px 15px;	
	color: var(--clr-text);
	background-color: var(--clr-blue-500);
	font-family: var(--ff-prim); 
	font-size: var(--fz-0);
	font-weight: var(--fw-n);
	line-height: var(--lh-n);	
}
#app{
	// display: grid;
	// gap: 15px 0;
	inline-size: min(600px, 100%);
}
.title{
	margin-block-end: 10px;
	color: var(--clr-white);
	font-size: var(--fz-n);
	text-align: center;
	h1{
		font-size: var(--fz-l);
	}
}
.textarea{
	inline-size: 100%;
	min-block-size: 150px;
	margin-block-end: 10px;
	padding: 10px;
	&::placeholder{
		color: var(--clr-gray-500);
	}
}
.choices{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	&__item{
		padding: 5px 15px;
		color: var(--clr-white);
		background-color: var(--clr-red-500);
		font-weight: var(--fw-m);
		border: 2px solid var(--clr-blue-500);
		border-radius: 100vw;
		&.picked{
			background-color: var(--clr-green-500);
			border: 2px solid var(--clr-white);
		}
	}
	&__item.hidden{
		display: none;
	}
}

