<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Таб навигация</title>
	<link rel="stylesheet" href="./css/main.css">
</head>
<body>
	<div id="app" class="app content" v-cloak>
		<div class="app__imgs">	
			<div v-for="tab in tabs" class="app__img">		
				<img 
					:class="{active: tab.isVisible}" 
					:src="`./img/${tab.img}.avif`" 
					:alt="tab.name"
				>
			</div>			
		</div>	
		<div class="app__tabs">
			<button 
				class="app__tab"
				:class="{active: tab.isVisible}"
				v-for="tab,index in tabs"
				@click="handleTab(index)"
			>
				<div 
					class="app__tab-icon"
					:class="`icon-${tab.icon}`"
				></div>
				<p class="app__tab-text">{{tab.name}}</p>
			</button>
		</div>
	</div>	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.21/vue.global.prod.min.js"></script>
	<script src="./js/main.js"></script>
</body>
</html>