html,body{
	overflow-x: hidden;
	block-size: 100%;
}
body{		
	display: grid;	
	grid-template-columns: 1fr 10px [content-start] 340px [content-end] 10px 1fr;
	grid-template-rows: 1fr min-content 1fr;
	color: var(--clr-text);
	background-color: var(--clr-purple-500);
	font-family: var(--ff-prim); 
	font-size: var(--fz-0);
	font-weight: var(--fw-n);
	line-height: var(--lh-n);	
}
body > .content {
	grid-column: content;
}
.app{	
	--border-r-app: 15px;	
	--border-r-img: 12px;	
	grid-row: 2 / span 1;
	display: flex;
	flex-direction: column;
	block-size: 600px;
	background-color: var(--clr-white);
	border: 3px solid var(--clr-gray-200);
	border-radius: var(--border-r-app);
	&__imgs{
		position: relative;
		overflow: hidden;
		flex-grow: 1;
		border-radius: var(--border-r-img) var(--border-r-img) 0 0;
	}
	&__img{
		position: absolute;
		inset: 0;
		img{
			block-size: 100%;
			opacity: 0;
			transition: opacity var(--tr);
			&.active{
				opacity: 1;
			}
		}	
	}
	&__tabs{
		display: flex;
		block-size: 70px;
	}
	&__tab{
		flex: 1 1 25%;
		display: grid;
		gap: 5px 0;
		align-content: center;
		color: var(--clr-gray-600);
		text-align: center;
		transition: color var(--tr);
		&-text{
			font-size: 13px;
		}
		&:hover,&.active{
			color: var(--clr-gray-900);
		}
	}
}

