:root{
	--min-content: 320px;
	--max-content: 768px;
	--pad: 30px;
	--ff-prim: Montserrat, sans-serif;
	--fz-xxs: 14px;
	--fz-xs: 16px;
	--fz-s: clamp(16px, 0.9565rem + 0.2174vi, 18px);
	--fz-m: clamp(21px, 1.2473rem + 0.3261vi, 24px);
	--fz-l: clamp(24px, 1.3261rem + 0.8696vi, 32px);
	--fz-xl: clamp(32px, 1.6522rem + 1.7391vi, 48px);
	--fz-xxl: clamp(48px, 1.6522rem + 1.7391vi, 64px);
	--fz-xxxl: clamp(48px, 2.4783rem + 2.6087vi, 72px);
	--fw-n: 400;
	--fw-m: 500;
	--fw-sb: 600;
	--fw-b: 700;
	--fw-bl: 900;
	--lh-n: 1.5;
	--lh-t: 1.1;
	--clr-text: #000;
	--clr-blue-50: #EBF5FB;
	--clr-blue-100: #DFEFF9;
	--clr-blue-200: #BEDEF3;
	--clr-blue-300: #9ECEEE;
	--clr-blue-400: #7DBDE8;
	--clr-blue-500: #5DADE2;
	--clr-blue-600: #4D96C6;
	--clr-blue-700: #3C7EAA;
	--clr-blue-800: #2C678E;
	--clr-blue-900: #1B4F72;
	--clr-red-100: #FADBD8;
	--clr-red-200: #F5B7B1;
	--clr-red-300: #F1948A;
	--clr-red-400: #EC7063;
	--clr-red-500: #E74C3C;
	--clr-red-600: #CB4335;
	--clr-red-700: #B03A2E;
	--clr-red-800: #943126;
	--clr-red-900: #78281F;
	--clr-green-500: #27AE60;
	--clr-purple-50: #F5EEF8;
	--clr-purple-100: #F4ECF7;
	--clr-purple-200: #E8DAEF;
	--clr-purple-300: #D2B4DE;
	--clr-purple-400: #BB8FCE;
	--clr-purple-500: #A569BD;
	--clr-purple-600: #8E44AD;
	--clr-purple-700: #7D3C98;
	--clr-purple-800: #6C3483;
	--clr-purple-900: #5B2C6F;
	--clr-purple-950: #4A235A;
	--clr-yellow-500: #F1C40F;
	--clr-gray-50:  #F4F4F4;
	--clr-gray-100: #E8E8E8;
	--clr-gray-200: #D1D1D1;
	--clr-gray-300: #B9B9B9;
	--clr-gray-400: #A2A2A2;
	--clr-gray-500: #8B8B8B;
	--clr-gray-600: #747474;
	--clr-gray-700: #5D5D5D;
	--clr-gray-800: #464646;
	--clr-gray-900: #2E2E2E;
	--clr-white: #fff;
	--clr-black: hsl(0, 0%, 0%);
	--clr-shadow: 0 0% 0%;
	--tr: .3s ease-in-out;
}