:root{
	--ff-prim: Montserrat, sans-serif;
	--fz-s: 18px;
	--fz-m: 24px;
	--fz-l: 32px;
	--fz-xl: 48px;
	--fz-xxl: 64px;
	--fw-n: 400;
	--fw-m: 500;
	--fw-sb: 600;
	--fw-b: 700;
	--lh-n: 1.5;
	--clr-text: #333;
	--clr-blue: #3498DB;
	--clr-white: #fff;
	--clr-gray-100: #F2F3F4;
	--clr-gray-300: #D7DBDD;
	--clr-gray: #D7DBDD;
	--tr: .5s ease-in-out;
}