@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Inherit fonts for inputs and buttons */
input,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --min-content: 320px;
  --max-content: 768px;
  --pad: 30px;
  --ff-prim: Montserrat, sans-serif;
  --ff-sec: Lora, serif;
  --fz-xxs: 14px;
  --fz-xs: 16px;
  --fz-s: clamp(16px, 0.9565rem + 0.2174vi, 18px);
  --fz-m: clamp(21px, 1.2473rem + 0.3261vi, 24px);
  --fz-l: clamp(24px, 1.3261rem + 0.8696vi, 32px);
  --fz-xl: clamp(32px, 1.6522rem + 1.7391vi, 48px);
  --fz-xxl: clamp(48px, 1.6522rem + 1.7391vi, 64px);
  --fw-n: 400;
  --fw-m: 500;
  --fw-sb: 600;
  --fw-b: 700;
  --fw-bl: 900;
  --lh-n: 1.5;
  --lh-t: 1.1;
  --clr-text: #000;
  --clr-blue-100: #D6EAF8;
  --clr-blue-200: #85C1E9;
  --clr-blue-500: #3498DB;
  --clr-blue-900: #1B4F72;
  --clr-red-500: #E74C3C;
  --clr-green-500: #27AE60;
  --clr-white: #fff;
  --clr-gray-100: #F2F3F4;
  --clr-gray-300: #D7DBDD;
  --clr-gray-500: #A6ACAF;
  --clr-gray-700: #626567;
  --clr-gray-900: #1b2631;
  --clr-black: hsl(0, 0%, 0%);
  --clr-shadow: 0 0% 0%;
  --tr: .3s ease-in-out;
}

html, body {
  overflow-x: hidden;
  block-size: 100%;
}

body {
  position: relative;
  color: var(--clr-text);
  font-family: var(--ff-prim);
  font-size: var(--fz-0);
  font-weight: var(--fw-n);
  line-height: var(--lh-n);
}

a {
  text-decoration: none;
}

#app {
  position: absolute;
  inset: 0;
}

.top {
  position: absolute;
  z-index: -1;
  inset: 0 0 50% 0;
  background-color: var(--clr-blue-100);
}

.bottom {
  position: absolute;
  z-index: -1;
  inset: 50% 0 0 0;
  background-color: var(--clr-blue-500);
}

.nav {
  --tr: .6s ease-in-out;
  position: absolute;
  inset-inline-start: 50%;
  inset-block-start: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 20px;
  inline-size: -webkit-max-content;
  inline-size: -moz-max-content;
  inline-size: max-content;
  padding: 20px;
  background-color: var(--clr-white);
  border-radius: 4px;
  box-shadow: 0 2px 6px hsl(var(--clr-shadow)/0.25);
  transition: gap var(--tr);
}
.nav.shrinked {
  gap: 0;
}

.menu {
  display: grid;
  grid-template-columns: 0fr;
  transition: grid-template-columns var(--tr);
  transition: grid-template-columns var(--tr), -ms-grid-columns var(--tr);
}
.menu.expanded {
  grid-template-columns: 1fr;
}
.menu__content {
  overflow: hidden;
  display: flex;
  gap: 0 20px;
}
.menu__item {
  flex: 0 0;
  inline-size: -webkit-max-content;
  inline-size: -moz-max-content;
  inline-size: max-content;
  transition: opacity var(--tr);
}
.menu__item.hide {
  opacity: 0;
}

.burger {
  position: relative;
  min-inline-size: 30px;
  block-size: 30px;
  cursor: pointer;
}
.burger__line {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 50%;
  inline-size: 100%;
  block-size: 2px;
  background-color: var(--clr-blue-500);
}
.burger__line.up {
  transform: translate(0, 0) rotate(45deg);
  transition: transform var(--tr);
}
.burger__line.up.rotate {
  transform: translate(0, -5px) rotate(540deg);
}
.burger__line.down {
  transform: translate(0, 0) rotate(-45deg);
  transition: transform var(--tr);
}
.burger__line.down.rotate {
  transform: translate(0, 5px) rotate(-540deg);
}

@media (max-width: 429px) {
  .nav {
    flex-direction: column;
  }
  .menu {
    grid-template-rows: 0fr;
    transition: grid-template-rows var(--tr);
    transition: grid-template-rows var(--tr), -ms-grid-rows var(--tr);
  }
  .menu.expanded {
    grid-template-rows: 1fr;
  }
  .menu__content {
    overflow: hidden;
    flex-direction: column;
    gap: 20px 0;
  }
  .menu__item {
    flex: 0 0;
    align-self: center;
    inline-size: -webkit-max-content;
    inline-size: -moz-max-content;
    inline-size: max-content;
    transition: opacity var(--tr);
  }
  .menu__item.hide {
    opacity: 0;
  }
}/*# sourceMappingURL=main.css.map */